# Terraform
.terraform/
*.tfstate
*.tfstate.*
crash.log
override.tf
override.tf.json
*.backup
*.tfvars

# Local env file
.env

# Editor directories and files
.vscode/
.idea/
*.swp

# OS files
.DS_Store
